/* Write your CSS here */
.notification-container {
  display: flex;
  flex-direction: column;

  padding: 25px;
}

.heading {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0f172a;
}

.icon-succes {
  color: #2dca73;
}
